<div id="intro">

<button id="skip" mat-raised-button color="primary" (click)="onSkip($event)">
  Skip
</button>
<audio #audioOption>
  <source src='../assets/audio/Star Wars.mp3' type="audio/mp3">
</audio>
<section>
  <div class="fade"></div>
  <div class="star-wars">

    <div class="crawl">

      <div class="title">
        <p>Episode IV</p>
        <h1>A New <span class="strike">Hope</span> Job</h1>
      </div>

      <p>It is a period of <span class="strike">civil war</span> unemployment. Rebel <span class="strike">starships</span> employees, striking from a hidden base, have won their first victory against the evil HQ Trust Empire.</p>
      <p>During the battle, Rebel spies managed to steal secret plans to the Empire's ultimate weapon, the <span class="strike">DEATH STAR</span> ANGULAR CLI, an armored <span class="strike">Spaced Station</span> Command Module with enough power to destroy <span class="strike">an entire planet</span> ReactJS.</p>
      <p>Pursued by the Empire’s sinister agents, <span class="strike">Princess Leia</span> Baron von McSharry races home aboard his starship, custodian of the stolen plans that can save his people and restore freedom to the FinTech sector of the galaxy...</p>
    </div>

  </div>
</section>

</div>
