.list-items-container {
  min-height: 666px;
  padding: 20px 40px 0px;
}
mat-nav-list {
  width: 100%;
  min-height: 500px;
  > a {
    width: 100%;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
  }
}
h5 {
  color: #82773e;
}
.no-data {
  height: 70px;
}
