<section>
  <sw-people-filter-form></sw-people-filter-form>
</section>
<section class="list-items-container" fxLayout="column" fxLayoutAlign="center center">
  <ng-container *ngIf="(peopleFiltered$ | async)?.results?.length > 0; else noResults">
    <p fxFlexAlign="start">{{(peopleFiltered$ | async).count}} characters</p>
    <mat-nav-list *ngIf="(peopleFiltered$ | async)?.results as people">
      <a mat-list-item *ngFor="let person of byPage(people); let odd=odd; let i=index;" [style.border-color]="odd? 'white':'transparent'"
        (click)="onSelectPerson(i, person.url)">
        {{personNumber(i)}} - {{person.name}}
      </a>
    </mat-nav-list>
    <section class="page-controls" fxLayoutGap="10px" fxFlexAlign="start">
      <button mat-raised-button color="accent" [disabled]="page === 1"
        matSuffix aria-label="Next page" (click)="onPrevPage()">
        <mat-icon>arrow_left</mat-icon>Prev
      </button>
      <button mat-raised-button color="accent" [disabled]="page === (peopleFiltered$ | async)?.totalPages"
        matSuffix aria-label="Next page" (click)="onNextPage()">
        Next<mat-icon>arrow_right</mat-icon>
      </button>
    </section>
    <p fxFlexAlign="end">Page {{page}}</p>
  </ng-container>
  <ng-template #noResults>
    <ng-container *ngIf="isAllLoaded">
      <h4>A message from r2-d2</h4>
      <ngx-typed-js class="no-data" #typed [startDelay]="400" [showCursor]="false" [backSpeed]="10" [typeSpeed]="50" [fadeOut]="false" [loop]="true" [strings]="['i could not find...', 'the data you were looking for']">
        <h5 class="typing"></h5>
      </ngx-typed-js>
      <button mat-raised-button color="accent"
        matSuffix aria-label="Reset filters" (click)="onResetFilters()">
        <mat-icon>settings_backup_restore</mat-icon>&nbsp;Reset Filters
      </button>
    </ng-container>
    <ng-container *ngIf="!isAllLoaded">
      <h4>No Data</h4>
    </ng-container>
  </ng-template>
</section>


<!-- <pre>{{(people$ | async) | json}}</pre> -->
