.list-items-container {
  min-height: 500px;
  padding: 20px 40px 0px;
  border: solid 1px darkgoldenrod;
  background: hsla(20, 20%, 40%, 0.5);
  max-width: 500px;
  margin: auto;
}
mat-nav-list {
  width: 100%;
  min-height: 400px;
  > a {
    width: 100%;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
  }
}
.page-controls {
  margin-top: 1rem;
}
h5 {
  color: #82773e;
}
.no-data {
  height: 70px;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 36px;
}
