h2 {
  margin-bottom: 2rem;
  font-family: 'Pathway Gothic One', sans-serif;
  padding-top: 10px;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-top: 10px;
}
.page-title {
  width: 300px;
  margin: auto;
}
