#lucasarts {
  position: absolute;
  left: 50px;
}
#logo {
  position: absolute;
  right: 60px;
}
h2 {
  margin-bottom: 2rem;
  font-family: 'Pathway Gothic One', sans-serif;
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
