<section class="list-controls">
</section>
<section class="list-items-container">
  <mat-nav-list *ngIf="people$ | async as people; else loading">
    <a mat-list-item *ngFor="let person of people.results; let odd=odd; let i = index;" [style.border-color]="odd? 'white':'transparent'">
      <!-- [routerLink]="['/person', person.id]"> -->
      {{i+1}} - {{person.name}}
    </a>
  </mat-nav-list>




  <ng-template #loading>
    <div class="loading">
      <ngx-typed-js #typed [startDelay]="200" [typeSpeed]="25" [fadeOut]="true" [loop]="true" [strings]="['Loading data...', 'From a Galaxy far far away...']">
        <h2 class="typing"></h2>
      </ngx-typed-js>
      <br><br>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>
