<section class="list-controls">
</section>
<section class="list-items-container">
  <mat-nav-list *ngIf="people$ | async as people; else loading">
    <a mat-list-item *ngFor="let person of peoople; let odd=odd;" [style.border-color]="odd? 'white':'transparent'"
      [routerLink]="['/person', person.id]">
      {{person.id}} - {{person.name}}
    </a>
  </mat-nav-list>
  <ng-template #loading>
    <div class="loading">
      Please wait. Loading data from a Galaxy Far Far Away...
      <br><br>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</section>
