<section *ngIf="people$ | async as people; else loading">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Character Name
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="nameFilter">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let person">{{person.name}}</td>
    </ng-container>
    <ng-container matColumnDef="film">
      <th class="header" mat-header-cell *matHeaderCellDef>
        Film
        <mat-form-field class="filter" floatLabel="never">
          <mat-label>Search</mat-label>
          <input matInput [formControl]="filmFilter">
        </mat-form-field>
      </th>
      <td id="cell-film" mat-cell *matCellDef="let person">{{person.films}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let person; columns: columnsToDisplay"></tr>
  </table>
</section>
<ng-template #loading>
  <section class="loading">
    <ngx-typed-js #typed [startDelay]="200" [typeSpeed]="25" [fadeOut]="true" [loop]="true" [strings]="['Loading data...', 'From a Galaxy far far away...']">
      <h2 class="typing"></h2>
    </ngx-typed-js>
    <br><br>
    <mat-spinner color="#FFE81F"></mat-spinner>
  </section>
</ng-template>
