<form [formGroup]="filterForm" >
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
    <label id="example-radio-group-label">Filter</label>
    <mat-form-field>
      <mat-select placeholder="Select a species" formControlName="species" (selectionChange)="onSpeciesSelected($event.value)" #speciesSelect>
        <mat-option>
          <ngx-mat-select-search [formControl]="speciesFilterCtrl"></ngx-mat-select-search>
        </mat-option>
        <mat-option class="option-none" *ngIf="!speciesFilterCtrl.value">None</mat-option>
        <mat-option class="option" *ngFor="let specie of filteredSpecies$ | async" [value]="specie">
          {{ specie.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select a movie" formControlName="movie"  (selectionChange)="onMovieSelected($event.value)">
        <mat-option class="option-none">None</mat-option>
        <mat-option class="option" *ngFor="let movie of movies" [value]="movie">
          {{ movie.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <sw-birth-year-filter></sw-birth-year-filter>
</form>
