<form [formGroup]="filterForm" fxLayoutGap="20px">
  <mat-form-field>
    <mat-select placeholder="Select a species" [formControl]="speciesCtrl" #speciesSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="speciesFilterCtrl"></ngx-mat-select-search>
      </mat-option>
      <mat-option class="option-none">None</mat-option>
      <mat-option class="option" *ngFor="let specie of filteredSpecies$ | async" [value]="specie">
        {{ specie.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select a movie" formControlName="movie" [(value)]="selectedMovie">
      <mat-option class="option-none">None</mat-option>
      <mat-option class="option" *ngFor="let movie of movies$ | async" [value]="movie.url">
        {{ movie.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
