/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import './media-queries.scss';

@font-face {
  font-family: starjedi;
  src: url(assets/fonts/Starjedi.ttf) format("truetype");
}
$sw-color: #FFE81F;
label {
  width: 80px;
}
body {
  color: $sw-color;
  background: black;
  font-family: "starjedi", "Starjedi";
}
input#mat-input-1 {
  caret-color: $sw-color;
  color: $sw-color;
}
.intro {
  overflow: hidden;
}
.strike {
  text-decoration: line-through
}
.mat-card {
  border: solid 1px darkgoldenrod;
  background: hsla(20, 20%, 40%, 0.5);
}
.mat-card-header-text {
  margin: 0 !important;
}
// this is a hack, really need to build a star wars mat theme
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #716c45 !important;
}
