/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

@font-face {
  font-family: starjedi;
  src: url(assets/fonts/Starjedi.ttf) format("truetype");
}
$sw-color: #FFE81F;

body {
  color: $sw-color;
  background: black;
  font-family: "starjedi", "Starjedi";
}
.intro {
  overflow: hidden;
}
.list-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 480px;
  padding: 20px 0;
}
.list-items-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}
.strike {
  text-decoration: line-through
}
// this is a hack, really need to build a star wars mat theme
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #716c45 !important;
}
