<img src="../assets/heroStarWars.jpg">
<div class="controls">
  <ul class="loading-frame">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </ul>
  <button id="skip" mat-raised-button color="primary" (click)="onStart($event)">
    This Is <span class="strike">Not</span> The Demo You Are Looking For
  </button>
</div>
