img {
  display: flex;
  margin: auto;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.controls {
  width: 600px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.title {
  font-family: 'arial';
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
}
